@using Microsoft.AspNetCore.Identity
@using InternetForum.DL.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<form asp-action="Logout" asp-controller="Account" method="post" class="navbar-right">
		<ul class="navbar-nav pull-right">
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">
					Vítej, <b class="caret">@UserManager.GetUserName(User)</b>
				</a>
				<div class="dropdown-menu">
					<a asp-action="Index" asp-controller="Manage" class="dropdown-item"> Nastavení </a>
					<a asp-action="MyPosts" asp-controller="Post" class="dropdown-item"> Moje příspěvky </a>
					<hr />

					<button type="submit" class="btn btn-link dropdown-item">Odhlásit se</button>
				</div>
			</li>
		</ul>
	</form>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li class="nav-item">
			<a asp-action="Register" asp-controller="Account" class="nav-link"> Registrace </a>
		</li>
		<li class="nav-item">
			<a asp-action="Login" asp-controller="Account" class="nav-link"> Přihlásit se </a>
		</li>
	</ul>
}