@model InternetForum.Models.HomeIndexViewModel

@using ReflectionIT.Mvc.Paging;

@addTagHelper *, ReflectionIt.Mvc.Paging

@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-9 pull-left">
		@foreach (var post in Model.Posts)
		{
			Html.RenderPartial("~/Views/Post/_PostPreview.cshtml", post);
		}
	</div>
</div>


<nav>
	@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.Posts, @class = "" })
</nav>

<script type="text/javascript">
	$(".redirector").click(function () {
		window.location = this.dataset.url;
	});
</script>