@model InternetForum.Models.HomeIndexViewModel

@using ReflectionIT.Mvc.Paging;

@addTagHelper *, ReflectionIt.Mvc.Paging

@{
	ViewData["Title"] = "Home Page";
}

<h6> @Model.ForumThreadName </h6>

<div class="row">
	<div class="col-md-9 pull-left">
		@foreach (var post in Model.Posts)
		{
			Html.RenderPartial("~/Views/Post/_PostPreview.cshtml", post);
		}
	</div>
	<div class="col-md-3">
		<div class="card">
			<div class="card-header text-white" style="background-color: #343a40;">
				Vlákna příspěvků
			</div>
			<ul class="list-group list-group-flush">
				@foreach (var thread in Model.ForumThreads)
				{
					<li class="list-group-item redirector">
						<a asp-action="Index" asp-controller="Home" asp-route-forumThreadId="@thread.Id" style="color: black">
							@thread.Name
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
</div>


<nav>
	@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.Posts })
</nav>

<script type="text/javascript">
	$(".redirector").click(function () {
		window.location = this.dataset.url;
	});
</script>