@model InternetForum.Models.HomeIndexViewModel

@using ReflectionIT.Mvc.Paging;

@addTagHelper *, ReflectionIt.Mvc.Paging

@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-9 pull-left">
		@* List příspevků na aktuální stránce *@
		@foreach (var post in Model.Posts)
		{
			Html.RenderPartial("~/Views/Post/_PostPreview.cshtml", post);
		}
	</div>
	<div class="col-md-3">

		@* Panel s informaci o aktuálním vlákně *@
		@{ Html.RenderPartial("~/Views/ForumThread/_ForumThreadInfoPanelPartial.cshtml", Model.CurrentForumThread); }

		@* Seznam dostupných vláken příspěvků *@
		<div class="card">
			<div class="card-header text-white" style="background-color: #343a40;">
				Vlákna příspěvků
			</div>
			<ul class="list-group list-group-flush">
				@foreach (var thread in Model.ForumThreads)
				{
					<li class="list-group-item">
						<a asp-action="Index" asp-controller="Home" asp-route-forumThreadId="@thread.Id" style="color: black">
							@thread.Name
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

@* Stránkování příspěvků *@
<nav>
	@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model.Posts })
</nav>