body {
	padding: 70px 20px 5px 30px;
	background-color: rgba(0,0,0,.03);
}

.postDetailContainer{
	padding-left: 10px;
}

.postContentContainer a {
	color: black;
}

.postContentContainer {
	min-height: 350px;
}

.forumThreadBasicInfoPanel .btn {
	margin: 0px;
}

#createPostButton{
	margin-top: 3px;
}

.commentButton {
	/*background-color: #145C9E;
		color: white;*/
}

.forumThreadInfoPanel{
	margin-bottom: 10px;
}

.comment{
	margin-bottom: 4px;
}

.progress{
	height: 2px;
}

.ratingContainer {
	margin-top: 1.5em;
	max-width: 150px;
}

.ratingContainer .progress{
	max-width: 150px;
}

.hidden {
	display: none;
}

.myPosts_postPreview .card-header {
	height: 50px;
}

.myPosts_postPreview .card-header a{
	margin: 0px 0px 0px 5px;
}

.postPreviewContainer {
	margin-bottom: 10px;
}

.postPreviewContainer .card {
	padding-left: 10px;
}

.myPosts_postPreview {
	margin-bottom: 10px;
}

.postPreviewContainer .card:hover {
	border: 1px solid #343a40;
	cursor: pointer;
}

.postPreviewContainer h6 a{
	color: black;
}

.postPreviewContainer h6 small {
	color: rgba(0, 0, 0, 0.70);
}

.postPreviewContainer h6 small a{
	color: inherit;
}

.forumThreadList_ForumThreadPreview {
	margin-bottom: 10px;
}

.forumThreadList_ForumThreadPreview .card-header {
	height: 50px;
}


.forumThreadList_ForumThreadPreview .card-header a {
	margin: 0px 0px 0px 5px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.commentForm .form-group {
	margin-bottom: 2px;
}

.commentForm .card {
	padding: 0px;
}

.commentForm .card .card-body {
	border: 0px;
	padding: 0px;
}

.commentForm .card .card-footer {
	padding: 2px;
	border: none;
}

.commentContainer .card-body {
	padding: 4px;
}

.commentContainer .card-body .img {
}