@model InternetForum.Models.ForumThreadInfoPanelViewModel

<div class="card forumThreadInfoPanel">
	<div class="card-header text-white" style="background-color: #343a40;">
		Podrobnosti vlákna <strong style="color: #b0b0b0">@Model.Name</strong>
	</div>
	<div class="card-body">
		<p class="card-text">@Model.Description</p>
	</div>
</div>