@model InternetForum.Models.CommentViewModel



<div class="card comment">
	<div class="card-body">
		<blockquote class="blockquote mb-0">
			<p>@Model.Body</p>
			<footer class="blockquote-footer">Přidáno @Model.CreatedAt uživatelem <cite title="Source Title">@Model.AuthorUserName</cite></footer>
		</blockquote>
	</div>
</div>